#reset{
    display: flex;
    margin: 0px auto;
    max-width: 1196px;
    margin-top: 20px;
}

 
 .container {
    width: 100%; 
    margin: 0 auto; 
}





.produto-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}


.produto-imagem {
    width: 100px; 
    border-radius: 10px; 
}


.conteudo{
    padding-right: 300px;
    padding-left:  20px;
}

.produto-acoes {
    text-align: right; 
}

.component-item{
   display: flex;
   background-color: #EDB74C;
   gap: 10px;
   border-radius: 10px;
   padding: 10px 20px;
   padding-right: 275px;
}


